<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CanInheritApplicationStateFromOtherProcesses</key>
	<true/>
	<key>adi-client</key>
	<string>2132707621</string>
	<key>application-identifier</key>
	<string>com.apple.Family</string>
	<key>com.apple.Contacts.database-allow</key>
	<true/>
	<key>com.apple.UIKit.vends-view-services</key>
	<true/>
	<key>com.apple.accounts.appleaccount.fullaccess</key>
	<true/>
	<key>com.apple.authkit.client.internal</key>
	<true/>
	<key>com.apple.authkit.client.private</key>
	<true/>
	<key>com.apple.coreduetd.allow</key>
	<true/>
	<key>com.apple.coreduetd.context</key>
	<true/>
	<key>com.apple.coreduetd.people</key>
	<true/>
	<key>com.apple.coreidvd.digital-presentment</key>
	<true/>
	<key>com.apple.coreidvd.digital-presentment.firstpartyclient</key>
	<true/>
	<key>com.apple.coreidvd.digital-presentment.merchants</key>
	<array>
		<string>com.apple.ams-identity-verification</string>
	</array>
	<key>com.apple.developer.healthkit</key>
	<true/>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.imagent</key>
	<true/>
	<key>com.apple.itunesstored.private</key>
	<true/>
	<key>com.apple.private.CoreAuthentication.SPI</key>
	<true/>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
		<string>UniqueDeviceID</string>
	</array>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.applemediaservices</key>
	<true/>
	<key>com.apple.private.attribution.implicitly-assumed-identity</key>
	<dict>
		<key>type</key>
		<string>path</string>
		<key>value</key>
		<string>/Applications/Family.app/Family</string>
	</dict>
	<key>com.apple.private.bmk.allow</key>
	<true/>
	<key>com.apple.private.familycircle</key>
	<true/>
	<key>com.apple.private.followup</key>
	<true/>
	<key>com.apple.private.healthkit.medicaliddata</key>
	<array>
		<string>read-write</string>
	</array>
	<key>com.apple.private.mobilemail.mail-recipient-vetting</key>
	<true/>
	<key>com.apple.private.mobilesms.messages-recipient-vetting</key>
	<true/>
	<key>com.apple.private.screen-time.persistence</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceAddressBook</string>
		<string>kTCCServiceFaceID</string>
		<string>kTCCServiceCamera</string>
	</array>
	<key>com.apple.runningboard.assertions.webkit</key>
	<true/>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.imagent.embedded.auth</string>
		<string>com.apple.familycircle.agent</string>
	</array>
	<key>com.apple.security.iokit-user-client-class</key>
	<array>
		<string>AGXCommandQueue</string>
		<string>AGXDevice</string>
		<string>AGXDeviceUserClient</string>
		<string>AGXSharedUserClient</string>
		<string>IOAccelContext</string>
		<string>IOAccelContext2</string>
		<string>IOAccelDevice</string>
		<string>IOAccelDevice2</string>
		<string>IOAccelSharedUserClient</string>
		<string>IOAccelSharedUserClient2</string>
		<string>IOAccelSubmitter2</string>
		<string>IOSurfaceRootUserClient</string>
		<string>AGXGLContext</string>
		<string>AppleCredentialManagerUserClient</string>
		<string>AppleHPMUserClient</string>
		<string>AppleJPEGDriverUserClient</string>
		<string>AppleUSBHostDeviceUserClient</string>
		<string>H11ANEInDirectPathClient</string>
		<string>IOAVControllerConcreteUserClient</string>
		<string>IOHIDEventServiceFastPathUserClient</string>
		<string>IOHIDLibUserClient</string>
		<string>IOMobileFramebufferUserClient</string>
		<string>IOReportUserClient</string>
		<string>IOSurfaceAcceleratorClient</string>
		<string>IOTimeSyncClockManagerUserClient</string>
		<string>IOTimeSyncDomainUserClient</string>
		<string>IOTimeSyncgPTPManagerUserClient</string>
	</array>
	<key>com.apple.springboard.activateRemoteAlert</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.springboard.openurlinbackground</key>
	<true/>
	<key>fairplay-client</key>
	<string>511712240</string>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
	</array>
</dict>
</plist>
